@import-normalize; /* bring in normalize.css styles */

:root {
  --background-lightblue-color: #e2f3f8;
  --font-color: #00b618;
  --border-color: #b3afaf;
  --global-black-color: #000000;
  --global-white-color: #ffffff;
  --global-red-color: #ff0000;
  --global-green-color: #00bd09;
  --avatar-bg-color: #add8e6;
  --profile-stats-color: #c4ddfd;
  --global-sky-color: #1fc5f8;
  --input-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--font-color);
  background-color: var(--background-lightblue-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

#root {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 16px;
    padding-bottom: 24px;
}
